@model IEnumerable<EventosACG.Models.Persona>

@{
    ViewBag.Title = "Personas";
}

<h2>Personas</h2>

<p>
    @Html.ActionLink("Nueva persona", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechanacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enfermedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alergia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            Parroquia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fechanacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enfermedad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alergia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parroquia.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalles Persona", "Details", new { id = item.ID }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
